@import url("https://fonts.googleapis.com/css2?family=Amiko&family=Biryani&family=Open+Sans:wght@700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css");

@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  background-color: #0f0e0e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-banner{
  background: url(../images/banner/mobile-2.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  
}
.web-banner{
  background: url(../images/banner/web-6.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.ux-banner{
  background: url(../images/banner/ui-3.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.background-gray {
  background-color: #444444;
}

.text-yellow {
  color: navajowhite;
}
.zasli {
  z-index: 100001 !important;
}

.zsatu {
  z-index: 0;
}

.z {
  z-index: -2;
}

.center {
  text-align: -webkit-center;
}

.contact-shadow-box {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.container-shadow {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

h2 {
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: -webkit-center;
}

p {
  font-family: "Biryani", sans-serif;
  font-weight: 400;
  text-align: -webkit-center;
}

h4,
h5 {
  font-family: "Amiko", sans-serif;
  font-weight: 400;
  text-align: -webkit-center;
}

.float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 40px;
  text-align: center;
  font-size: 29px;
}

.my-float {
  margin: 11px;
}
